In [1]:
# Pandas is used for data manipulation
import pandas as pd
# Read in data and display first 5 rows
dogs = pd.read_csv('D:/projects/20151001hundehalter.csv')
dogs.head(5)

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss

In [2]:
print('The shape of our features is:', dogs.shape)

The shape of our features is: (6980, 13)

In [3]:
dogs = dogs[["HALTER_ID", 'ALTER', 'GESCHLECHT', 'STADTKREIS', 'STADTQUARTIER','RASSE1']]

In [4]:
dogs = dogs.rename(columns={'HALTER_ID': 'HOLDER_ID',
                            'ALTER': 'AGE',
                            'GESCHLECHT': 'GENDER',
                            'STADTKREIS': 'CITY DISTRICT',
                            'STADTQUARTIER': 'CITY QUARTER',
                           'RASSE1':'BREED'})
dogs.head(5)

   HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
0        126  51-60      m            9.0          92.0       Welsh Terrier
1        574  61-70      w            2.0          23.0       Cairn Terrier
2        695  41-50      m            6.0          63.0  Labrador Retriever
3        893  61-70      w            7.0          71.0     Mittelschnauzer
4       1177  51-60      m           10.0         102.0            Shih Tzu

In [5]:
dogs.corr()

               HOLDER_ID  CITY DISTRICT  CITY QUARTER
HOLDER_ID        1.00000       0.018380      0.021120
CITY DISTRICT    0.01838       1.000000      0.997864
CITY QUARTER     0.02112       0.997864      1.000000

In [6]:
my_series = dogs.duplicated()
print(my_series[2])

False

In [7]:
num_dupes = 0
my_series = dogs.duplicated()
for x in dogs.index:
    if my_series[x]:
        print(dogs.loc[[x]])
        num_dupes+= 1
        
print("There are", num_dupes, "duplicate entries")

    HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER        BREED
11       4215  41-50      w            8.0          81.0  Bergamasker
    HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
15       4281  61-70      w            9.0          91.0  Chihuahua
    HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
24       4908  51-60      m            5.0          51.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
105      65665  61-70      w            8.0          82.0  Mops
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
114      65975  61-70      w            7.0          74.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
122      66515  61-70      m            8.0          83.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
129      66913  51-60      m            8.0          83.0  Hovawart
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
163      72580  41-50      m           10.0         102.0  Prager Rattler
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
174      80023  61-70      m           11.0         111.0  Border Collie
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
191      80169  41-50      w            4.0          42.0  Jack Russel Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
205      80230  61-70      w            9.0          92.0  Yorkshire Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER         BREED
218      80335  61-70      w           12.0         122.0  Irish Setter
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
253      80545  51-60      m            9.0          91.0  Border Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
255      80552  51-60      w            9.0          92.0  Windspiel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
263      80604  71-80      m            7.0          72.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
264      80604  71-80      m            7.0          72.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
274      80645  71-80      w            2.0          21.0  Berner Sennenhund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
301      80761  61-70      m           11.0         115.0

                      BREED
301  Appenzeller Sennenhund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
320      80881  71-80      w            7.0          72.0  Mops
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER             BREED
344      81004  51-60      w            9.0          92.0  Scottish Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
352      81050  61-70      w            5.0          52.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
353      81050  61-70      w            5.0          52.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
363      81100  51-60      w            7.0          73.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
414      81377  41-50      m            6.0          63.0  Bearded Collie
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
415      81377  41-50      m            6.0          63.0  Bearded Collie
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
416      81377  41-50      m            6.0          63.0  Bearded Collie
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
418      81379  61-70      w            6.0          63.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
491      81671  51-60      w           10.0         101.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
501      81702  51-60      w           11.0         119.0  Collie
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
503      81717  71-80      m           12.0         122.0  Pekingese
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
508      81726  61-70      w           11.0         111.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
509      81726  61-70      w           11.0         111.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
557      82001  71-80      m            2.0          21.0  Rauhaar Dackel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
563      82033  61-70      w           10.0         102.0  Pudel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
567      82063  71-80      w           11.0         111.0  Mops
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
568      82063  71-80      w           11.0         111.0  Mops
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
569      82063  71-80      w           11.0         111.0  Mops
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
579      82110  61-70      w            9.0          91.0  Riesenschnauzer
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
595      82174  61-70      m            1.0          11.0  Cocker Spaniel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
599      82190  61-70      w           10.0         101.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
645      82450  71-80      w            7.0          74.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
648      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
649      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
650      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
651      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
652      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
653      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
654      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
655      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
656      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
657      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
658      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
659      82452  61-70      w           10.0         102.0  Dachshund
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
663      82473  51-60      w            1.0          13.0  Papillon
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
676      82527  61-70      w            2.0          21.0  Rauhaar Dackel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
708      82655  51-60      w            7.0          74.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
712      82662  41-50      w            7.0          74.0  Tibet Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
715      82671  51-60      w            7.0          74.0  Continental Bulldog
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
716      82671  51-60      w            7.0          74.0  Continental Bulldog
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
718      82671  51-60      w            7.0          74.0  Continental Bulldog
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
719      82671  51-60      w            7.0          74.0  Jack Russel Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER                BREED
720      82671  51-60      w            7.0          74.0  Continental Bulldog
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
723      82687  51-60      m            7.0          74.0

                           BREED
723  West Highland White Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
727      82692  81-90      w            7.0          74.0  Pudel
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
731      82700  71-80      m            7.0          72.0  Labrador Retriever
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
754      82852  51-60      w            9.0          92.0

                          BREED

754  Chinese Crested Powderpuff
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
755      82852  51-60      w            9.0          92.0

                          BREED
755  Chinese Crested Powderpuff
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
757      82852  51-60      w            9.0          92.0

                          BREED
757  Chinese Crested Powderpuff
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
758      82852  51-60      w            9.0          92.0

                          BREED
758  Chinese Crested Powderpuff
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
772      82934  51-60      m            2.0          23.0  Samojede
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
780      82993  61-70      w           11.0         115.0  Eurasier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
804      83141  61-70      w            2.0          23.0  Pekingese
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER             BREED
811      83171  51-60      w            7.0          73.0  Airedale Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
821      83215  71-80      w            2.0          23.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
837      83309  71-80      m            9.0          91.0  Yorkshire Terrier
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
846      83347  71-80      w            3.0          34.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
898      83620  41-50      m            7.0          73.0  Mischling klein
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
910      83680  41-50      w            9.0          92.0  Chihuahua
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
911      83680  41-50      w            9.0          92.0  Chihuahua
     HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
979      84044  61-70      w            3.0          33.0  Deutscher Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1020      84295  61-70      w           10.0         102.0  Podenco
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1027      84344  51-60      w            7.0          73.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
1053      84468  51-60      w            7.0          71.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1105      84802  51-60      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
1163      85025  71-80      m            9.0          92.0  Belgischer Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1174      85073  41-50      w           12.0         123.0

                    BREED
1174  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1182      85152  61-70      m            6.0          61.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
1188      85179  51-60      w           12.0         121.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1205      85245  71-80      w            9.0          92.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1214      85308  51-60      m           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1228      85389  61-70      m            9.0          92.0  Deutscher Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1231      85394  51-60      w            2.0          21.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1248      85482  61-70      w            6.0          61.0

                    BREED
1248  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1251      85485  51-60      w           11.0         119.0  Whippet
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1252      85485  51-60      w           11.0         119.0  Whippet
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1253      85485  51-60      w           11.0         119.0  Whippet
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
1255      85495  61-70      w            7.0          74.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
1273      85581  41-50      w            7.0          71.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1318      85779  51-60      w            9.0          92.0

                      BREED
1318  Flat Coated Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1353      86023  51-60      m            7.0          71.0  Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
1368      86086  61-70      w            7.0          71.0  Gordon Setter
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
1381      86124  71-80      m            4.0          41.0  Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1384      86127  71-80      m            2.0          24.0  Norwich Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1399      86198  51-60      m            9.0          91.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1417      86282  51-60      w            2.0          24.0  Podenco
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1425      86319  51-60      w            9.0          91.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1441      86391  41-50      w            3.0          33.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1447      86409  51-60      w           11.0         115.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
1453      86447  61-70      w           10.0         101.0  Irish Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1458      86500  61-70      w            7.0          74.0

                              BREED
1458  Cavalier King Charles Spaniel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
1466      86535  51-60      w            8.0          82.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1486      86636  61-70      m            8.0          83.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1522      86763  51-60      m           11.0         119.0

                    BREED
1522  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1523      86763  51-60      m           11.0         119.0

                    BREED
1523  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1543      86822  31-40      w            2.0          21.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1545      86837  51-60      w            7.0          72.0

                            BREED
1545  West Highland White Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
1571      86938  41-50      w            1.0          12.0  Podenco
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1609      87104  31-40      w           11.0         119.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
1635      87210  31-40      m           10.0         101.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1653      87285  71-80      w            7.0          71.0

                              BREED
1653  Cavalier King Charles Spaniel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
1683      87385  81-90      w            2.0          23.0  Pudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
1684      87385  81-90      w            2.0          23.0  Pudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
1688      87389  31-40      w            6.0          63.0  Prager Rattler
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
1742      87579  51-60      w            9.0          92.0

                    BREED
1742  Australian Shepherd
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1756      87612  31-40      w           12.0         122.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1784      87738  31-40      w           10.0         101.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
1810      87855  51-60      w            7.0          74.0  Cairn Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
1830      87913  41-50      w           12.0         121.0  Zwergpudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
1889      88101  41-50      m            2.0          24.0  Beagle
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
1911      88178  31-40      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1936      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1937      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1938      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1939      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1940      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
1941      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED

1942      88250  31-40      w            7.0          74.0  Sibirischer Husky
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2013      88481  71-80      w           10.0         101.0

                    BREED
2013  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
2038      88559  61-70      w            8.0          82.0  Zwergpudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2041      88565  31-40      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2059      88614  51-60      w            7.0          72.0

                      BREED
2059  Flat Coated Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
2076      88650  51-60      w           11.0         115.0  Lhasa Apso
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
2094      88678  51-60      w           10.0         101.0  Papillon
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2119      88770  51-60      w           11.0         115.0  Dachshund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2133      88806  51-60      w           12.0         123.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2134      88806  51-60      w           12.0         123.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
2143      88850  51-60      w            9.0          92.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
2144      88850  51-60      w            9.0          92.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
2150      88866  41-50      m            2.0          24.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2154      88871  51-60      w           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
2161      88887  31-40      w           12.0         123.0  Beagle
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
2163      88888  51-60      m            2.0          24.0  Langhaardackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
2175      88923  51-60      w           12.0         122.0  Bolonka Zwetna
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2222      89034  31-40      w           11.0         119.0

                    BREED
2222  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2271      89158  61-70      m            4.0          41.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
2275      89166  81-90      w            7.0          73.0  Malteser
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2292      89209  31-40      w           10.0         101.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
2309      89265  51-60      w            7.0          72.0  Tibet Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
2324      89293  41-50      m           11.0         115.0  Shih Tzu
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2341      89332  51-60      w            1.0          11.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2371      89415  51-60      w            7.0          74.0  Dachshund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2379      89433  41-50      w           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
2384      89439  71-80      m            3.0          34.0  Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2403      89482  51-60      w            7.0          74.0  Havaneser
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2406      89487  41-50      m            9.0          92.0

                            BREED
2406  West Highland White Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
2440      89570  31-40      m           11.0         111.0  Pinscher
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2450      89594  41-50      w            1.0          14.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2451      89594  41-50      w            1.0          14.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
2457      89604  61-70      m            1.0          13.0  English Setter
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2487      89677  51-60      m            3.0          31.0

                    BREED
2487  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2493      89685  31-40      w            3.0          31.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2498      89690  61-70      w            4.0          44.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2502      89704  41-50      w           10.0         101.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2506      89707  51-60      w           12.0         121.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER        BREED
2580      90477  41-50      m           11.0         111.0  Appenzeller
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
2633      90993  71-80      m            7.0          73.0  Malteser
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
2687      91939  51-60      w            9.0          92.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
2724      92596  41-50      w           11.0         119.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
2735      92656  41-50      w            3.0          33.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
2743      92779  31-40      m            8.0          83.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2761      92995  51-60      w           11.0         119.0

                      BREED
2761  Australian Cattle Dog
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER        BREED
2767      93055  51-60      w           11.0         119.0  Rehpinscher
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
2800      93267  21-30      w           12.0         122.0  Deutscher Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2810      93302  41-50      w            3.0          31.0

                    BREED
2810  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
2838      93664  61-70      w            7.0          74.0  Dachshund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
2866      94059  31-40      w            6.0          63.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
2931      94867  41-50      m           12.0         121.0

                    BREED
2931  Australian Shepherd
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER             BREED
2990      95569  41-50      m            9.0          92.0  Alaskan Malamute
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
3030      96007  51-60      m            7.0          73.0  Whippet
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
3044      96261  61-70      w            7.0          74.0  Bolonka Zwetna
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
3057      96452  21-30      w            9.0          91.0  Spitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3067      96565  71-80      w           12.0         123.0

                       BREED
3067  Parson Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
3121      97926  61-70      w            7.0          74.0  Vizsla
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
3141      98229  51-60      w            6.0          63.0  Sheltie
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3145      98254  51-60      w            7.0          73.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3146      98254  51-60      w            7.0          73.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
3185      98577  61-70      m            7.0          72.0  Tiroler Bracke
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3222      98791  71-80      w            6.0          63.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3228      98844  61-70      w            9.0          91.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3247      98950  31-40      w           10.0         101.0

                    BREED
3247  Australian Shepherd
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3277      99103  21-30      w            8.0          82.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3303      99176  21-30      w           12.0         122.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3354      99388  31-40      w           12.0         122.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3376      99710  81-90      m            7.0          74.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
3379      99714  51-60      w            7.0          72.0  Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
3383      99724  41-50      w           11.0         119.0  Shih Tzu
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
3385      99724  41-50      w           11.0         119.0  Shih Tzu
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3386      99724  41-50      w           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
3394      99751  61-70      w            9.0          92.0  Pudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3401      99769  41-50      m            9.0          92.0

                    BREED

3401  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
3418      99808  41-50      w            3.0          33.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
3424      99827  31-40      m            8.0          82.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3429      99837  31-40      m           11.0         115.0  Berner Sennenhund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3448      99880  41-50      w           10.0         101.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3454      99889  41-50      m           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3471      99923  21-30      w            2.0          23.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3472      99923  21-30      w            2.0          23.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3480      99983  51-60      w           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3485      99992  31-40      w            7.0          72.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3524     100078  31-40      w            3.0          34.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3536     100133  41-50      w            3.0          34.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
3570     100252  31-40      m           11.0         115.0  Zwergpinscher
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3584     100297  41-50      m            3.0          33.0

                            BREED
3584  Parson Jack Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3595     100391  41-50      w            6.0          63.0

                            BREED
3595  West Highland White Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3613     100533  41-50      m            7.0          73.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3635     100793  21-30      w           12.0         122.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3644     100846  31-40      w           11.0         115.0

                    BREED
3644  Australian Shepherd
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
3681     101485  61-70      w            9.0          91.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
3753     102347  31-40      w           12.0         123.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER             BREED
3760     102398  61-70      w            2.0          24.0  Golden Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3785     102766  51-60      w            3.0          31.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
3802     103015  41-50      w           12.0         123.0  Bolonka Zwetna
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
3818     103146  41-50      w           10.0         102.0  Malteser
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
3820     103149  41-50      w            2.0          24.0

                    BREED
3820  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
3852     103617  51-60      w           10.0         101.0  Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3855     103619  51-60      w           12.0         122.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
3869     103811  41-50      w            8.0          82.0  Mischling gross
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3904     104159  31-40      m           10.0         102.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
3936     104651  51-60      w            6.0          61.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
3943     104733  51-60      m            9.0          91.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4003     105343  41-50      w           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4004     105343  41-50      w           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4008     105384  41-50      w            7.0          72.0

                    BREED
4008  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
4012     105393  51-60      w            9.0          91.0  Border Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
4021     105472  31-40      w            3.0          34.0  Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
4035     105585  41-50      w            9.0          92.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
4036     105585  41-50      w            9.0          92.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
4037     105585  41-50      w            9.0          92.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
4038     105585  41-50      w            9.0          92.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
4040     105585  41-50      w            9.0          92.0  Papillon
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
4041     105585  41-50      w            9.0          92.0  Papillon
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4077     106004  51-60      w           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4092     106243  31-40      w            8.0          81.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4168     107493  61-70      w            3.0          31.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
4192     107841  41-50      w           12.0         122.0  Lhasa Apso
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
4222     108077  41-50      w            2.0          23.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4246     108326  51-60      w            8.0          82.0

                       BREED
4246  Parson Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4247     108326  51-60      w            8.0          82.0

                       BREED
4247  Parson Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4274     108607  41-50      w           12.0         121.0

                     BREED
4274  Deutscher Grossspitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
4304     109174  41-50      w            7.0          74.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
4315     109251  51-60      w            9.0          91.0  Collie
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
4325     109471  61-70      w            8.0          81.0  Shih Tzu
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4333     109510  41-50      m           11.0         111.0

                    BREED
4333  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
4347     109644  31-40      w           11.0         119.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
4362     109760  31-40      w           10.0         101.0  Schäfer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
4375     109926  31-40      w            4.0          44.0  Papillon
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4390     110012  21-30      w           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4391     110012  21-30      w           11.0         115.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4405     110146  61-70      w           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
4436     110703  21-30      w            4.0          41.0  Boxer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4440     110738  31-40      w           12.0         122.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4500     111403  41-50      m           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4501     111403  41-50      m           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
4518     111647  51-60      w           10.0         102.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4531     111832  21-30      m           11.0         111.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
4549     112003  31-40      w           11.0         119.0  Lhasa Apso
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  BREED
4575     112263  31-40      w            3.0          31.0  Boxer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
4580     112275  21-30      w            9.0          92.0  Border Collie
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
4644     113020  31-40      m           11.0         111.0  Zwergspitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
4674     113422  41-50      w           12.0         122.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
4725     114120  61-70      w           11.0         111.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER             BREED
4731     114129  31-40      m           10.0         101.0  Podenco Ibicenco
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4759     114485  51-60      w            1.0          11.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
4778     114564  31-40      w           11.0         115.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4792     114913  51-60      m            3.0          34.0

                       BREED
4792  Französische Bulldogge
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED

4840     115343  31-40      w            8.0          81.0  Dachshund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4855     115431  61-70      m           12.0         122.0  Pekingese
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4862     115491  51-60      w            2.0          24.0

                        BREED
4862  Italienisches Windspiel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
4863     115491  51-60      w            2.0          24.0

                        BREED
4863  Italienisches Windspiel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4866     115516  61-70      m            4.0          42.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
4897     115771  51-60      m            6.0          63.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
4908     115913  21-30      m           11.0         119.0  Rauhaar Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
4973     116594  51-60      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
4983     116629  41-50      w            7.0          73.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER              BREED
5000     116825  31-40      w           11.0         115.0  Yorkshire Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5012     116950  21-30      w           12.0         123.0

                             BREED
5012  Miniature Australien Shepard
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5017     116970  41-50      w            2.0          21.0

                            BREED
5017  West Highland White Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5019     116988  51-60      m            6.0          61.0  Grosspudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
5025     117029  31-40      w            8.0          81.0  Mischling gross
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5129     117966  51-60      w            3.0          31.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5145     118114  21-30      m           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5150     118143  41-50      w            6.0          61.0  Zwergspitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
5202     118672  31-40      m            7.0          73.0  Border Collie
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5211     118709  61-70      w            7.0          72.0  Lhasa Apso
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
5216     118729  41-50      w           11.0         119.0  Papillon
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
5240     118940  31-40      w           12.0         122.0  Mischling gross
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5336     119723  21-30      w           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5340     119738  21-30      w            6.0          61.0  Zwergspitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
5352     119851  51-60      w           11.0         115.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
5363     119904  61-70      w            3.0          33.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
5391     120105  31-40      w            7.0          71.0  Chinese Crested
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5395     120153  41-50      w            5.0          51.0  Grosspudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5437     120440  41-50      m            2.0          21.0

                     BREED
5437  Bretonischer Spaniel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5462     120632  21-30      w            2.0          21.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5483     120734  61-70      m           11.0         119.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5520     120998  31-40      w            3.0          34.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
5528     121020  51-60      w            7.0          74.0  Zwergspitz
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5652     121939  21-30      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5668     121993  21-30      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5688     122041  41-50      m            4.0          42.0

                    BREED
5688  Rhodesian Ridgeback
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5706     122090  31-40      m           12.0         121.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER          BREED
5766     122512  31-40      w            2.0          24.0  Irish Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5808     122731  21-30      w            3.0          31.0

                       BREED
5808  Französische Bulldogge
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5857     122934  71-80      w            9.0          92.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
5859     122935  31-40      m            2.0          21.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
5866     122951  41-50      w           11.0         115.0  Pinscher
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
5913     123147  41-50      w            3.0          31.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER BREED
5914     123147  41-50      w            3.0          31.0  Mops
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
5971     123455  31-40      w            9.0          91.0

                            BREED
5971  Parson Jack Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
6022     123695  31-40      w           10.0         102.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
6057     123871  41-50      w            7.0          74.0  Dachshund
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
6085     124037  31-40      m           12.0         121.0  Pinscher
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
6097     124241  41-50      m           12.0         123.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER        BREED
6139     124430  31-40      m            7.0          74.0  Zwergdackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6141     124432  41-50      m           10.0         102.0

                        BREED
6141  American Cocker Spaniel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER   BREED
6195     124649  61-70      w           10.0         101.0  Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
6264     124929  41-50      w            7.0          74.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6337     125328  31-40      m            3.0          31.0

                    BREED
6337  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6355     125368  31-40      w            3.0          31.0

                       BREED
6355  Parson Russell Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
6357     125370  31-40      w           11.0         119.0  Malteser
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
6360     125379  41-50      w            9.0          91.0  Zwergpudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
6382     125549  51-60      w            7.0          74.0  Bolonka Zwetna
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
6394     125587  31-40      w           11.0         119.0  Mischling klein
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6455     125808  51-60      m            7.0          72.0

                    BREED
6455  Englische Bulldogge
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6474     125859  51-60      w           11.0         111.0

                    BREED
6474  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6475     125859  51-60      w           11.0         111.0

                    BREED
6475  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER  \
6476     125859  51-60      w           11.0         111.0

                    BREED
6476  Jack Russel Terrier
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
6524     126048  31-40      w            7.0          72.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
6529     126116  61-70      w            8.0          83.0  Rauhaar Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
6530     126116  61-70      w            8.0          83.0  Rauhaar Dackel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER      BREED
6539     126135  21-30      w            8.0          83.0  Chihuahua
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER       BREED
6580     126386  51-60      w            9.0          91.0  Zwergpudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
6597     126452  51-60      w            6.0          63.0  Mischling gross
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER           BREED
6626     126687  31-40      m            7.0          72.0  Zwergschnauzer
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
6761     127401  31-40      w            9.0          92.0  Labrador Retriever
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER     BREED
6796     127656  31-40      w            7.0          72.0  Toypudel
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER    BREED
6895     128089  31-40      m           10.0         101.0  Whippet
      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER            BREED
6935     128239  51-60      w            2.0          24.0  Mischling gross
There are 358 duplicate entries

In [8]:
unduped_dogs = dogs.drop_duplicates(subset=['HOLDER_ID'])
unduped_dogs

,HOLDER_ID,AGE,GENDER,CITY DISTRICT,CITY QUARTER,BREED
0,126,51-60,m,9.0,92.0,Welsh Terrier
1,574,61-70,w,2.0,23.0,Cairn Terrier
2,695,41-50,m,6.0,63.0,Labrador Retriever
3,893,61-70,w,7.0,71.0,Mittelschnauzer
4,1177,51-60,m,10.0,102.0,Shih Tzu
...,...,...,...,...,...,...
6974,128462,21-30,w,5.0,52.0,Old Englische Bulldogge
6975,128471,21-30,w,8.0,83.0,Tibetan Spaniel
6977,128479,51-60,w,6.0,63.0,Lagotto Romagnolo
6978,128482,21-30,w,9.0,91.0,Yorkshire Terrier
6979,128485,21-30,w,7.0,74.0,Magyar Viszla

In [9]:
#Create function to convert a string of form 'x-y' into a number of average(x,y)
import statistics 

def average_age(txt):
    ages = [int(s) for s in txt.split('-') if s.isdigit()]
    return statistics.mean(ages)

print(average_age("12-18"))

15

In [10]:
#Make sure AGE values have values and are not empty
dogs = dogs[dogs['AGE'].notnull()]
dogs

      HOLDER_ID    AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
0           126  51-60      m            9.0          92.0       Welsh Terrier
1           574  61-70      w            2.0          23.0       Cairn Terrier
2           695  41-50      m            6.0          63.0  Labrador Retriever
3           893  61-70      w            7.0          71.0     Mittelschnauzer
4          1177  51-60      m           10.0         102.0            Shih Tzu
...         ...    ...    ...            ...           ...                 ...
6975     128471  21-30      w            8.0          83.0     Tibetan Spaniel
6976     128471  21-30      w            8.0          83.0          Rottweiler
6977     128479  51-60      w            6.0          63.0   Lagotto Romagnolo
6978     128482  21-30      w            9.0          91.0   Yorkshire Terrier
6979     128485  21-30      w            7.0          74.0       Magyar Viszla

[6978 rows x 6 columns]

In [11]:
averaged_dogs = dogs['AGE'].apply(lambda x: average_age(x))
dogs['AGE'] = averaged_dogs
dogs

      HOLDER_ID   AGE GENDER  CITY DISTRICT  CITY QUARTER               BREED
0           126  55.5      m            9.0          92.0       Welsh Terrier
1           574  65.5      w            2.0          23.0       Cairn Terrier
2           695  45.5      m            6.0          63.0  Labrador Retriever
3           893  65.5      w            7.0          71.0     Mittelschnauzer
4          1177  55.5      m           10.0         102.0            Shih Tzu
...         ...   ...    ...            ...           ...                 ...
6975     128471  25.5      w            8.0          83.0     Tibetan Spaniel
6976     128471  25.5      w            8.0          83.0          Rottweiler
6977     128479  55.5      w            6.0          63.0   Lagotto Romagnolo
6978     128482  25.5      w            9.0          91.0   Yorkshire Terrier
6979     128485  25.5      w            7.0          74.0       Magyar Viszla

[6978 rows x 6 columns]